{% extends "index.html" %}
{% block title %} Add {% endblock title%}
{% block body %}
<h2>Add Todos</h2>
<form method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" value="{{todo.title}}" placeholder="Title" id="title">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" id="desc" placeholder="Description" value="{{todo.desc}}" name="desc">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}